# Entorno virtual
.venv/
venv/
ENV/
env/

# Archivos de PyInstaller
build/
dist/
__pycache__/
*.spec

# Archivos temporales y de caché
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Archivos generados por el sistema
*.~ 
*~

# Configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ejecutables
*.exe
*.dll

# Archivos de prueba
test-output/
